
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wei in Chch</title>
</head>
<body>
    <div>
        &reg; A Wei_Chch test website.
    </div>
</body>
</html>
