
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wei in Chch</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cookieDisplay").text(document.cookie);
        });
    </script>
</head>
<body>
    <div>
        &reg; A Wei_Chch test website.
    </div>
    <div>
        <p>Your cookie:</p>
        <p id="cookieDisplay"></p>
    </div>
</body>
</html>
