
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="qc:admins" content="7201617077565214016761000263757" />
    <title>Log Everything</title>
</head>
<body>
    <div>
        Hello World!
    </div>
</body>
</html>
